/* @IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');


.header {
    margin-top: 30px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.header__title {
    font-size: 50px;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}
.section__calc {
    margin-top: 30px;
}
.calc {
    padding: 15px; /* паддинги бокса*/
    border: 2px dotted black;
height: 100%;
}
.calc__box {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}
.calculator {
    display: flex;
    justify-content: space-between;
}
.calc__side {
    display: flex;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}
.calc__switcher {
    display: flex;
}
.calc__switcher__item {
    border-right: 1px solid #c0c0c0;
    width: 20%;
}
.calc__switcher__item__title {
    font-family: 'Kanit', sans-serif;
    padding: 15px 27px;
    cursor: pointer;
}
.calc__switcher__item:last-child {
    background-image: url("./assets/img/black__arrow.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 14px;
    border: none;
}
.calc__input_box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.calc__input_box__input {
    height: 100px;
    width: 37%;
    padding-left: 30px;
}
.active {
    background-color: #16b67f;
    color: white;
}
.active__two {
    background-color: #16b67f;
    color: white;
}
